.image {
  width: 40%;
  height: 10%;
}

.list_center {
  text-align: center;
  font-size: 18px;
}

.no_dots {
  list-style: none;
}

.item {
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}
